a.borderless:hover {
	text-decoration: none;
	cursor: pointer; }

a:hover .btn-primary {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e; }

#term {
	height: 400px;
	overflow: scroll; }
